body{
	background-image: url(../images/bg3.jpg);
	background-position: center center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #382600; /*off white*/
	background-repeat: no-repeat;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;

}

h1{
	font-size: 50px;
	/*background-color: rgba(249, 248, 207, 0.7);*//*#333; off black*/
	text-transform: uppercase;	
	letter-spacing: 3px;
	color: #282823;
}

h2{
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #fffa00;
	font-weight: bolder;
}
#me{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border-width: 5px;
	border-style: solid;
	border-color: #382600;
	margin-top: 50px;
}

.bio{
	/*display: block;*/
	text-align: center;
	width: 800px;
	margin: 0 auto;
	font-size: 18px;
	background-color: rgba(249, 248, 207, 0.7);/*rgba(249, 248, 207, 0.5);*/
	/*background-color: #333;*/
	/*opacity: 0.5;*/
}

.container{
	height: 450px;
	width: 450px;
	margin: 0 auto;
	text-align: center;
	background-color:rgba(249, 248, 207, 0.8);
	border-bottom-left-radius: 5%;
	border-bottom-right-radius: 5%;


}


.title{
	text-align: center;
	padding: 0;
	background-color:rgba(249, 248, 207, 0.2); 
}
